canvas.canvas
a.codepen-link(href='http://www.codepen.io/seanfree' target='_blank')
.instructions 
	p Hover to repel particles
	p &ensp;Mouse x / y position changes flow field frequencies
	p Mouse down to attract particles
	p Double-click to add an attractor
	p Double-click attractors to remove

h2.count